.buttons {
    display: flex;
    gap: 10px;
}

.mb-3 {
    display: grid;
}

.me-2 {
    background-color: aliceblue;
}

.ListOfJobs {
    display: grid;
    place-items: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* background-color: aliceblue; */
}